.root {
  cursor: pointer;
  padding: 6px 12px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;

  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;

  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.disabled {
    opacity: 0.6;
    cursor: default;
  }
}

.contained {
  color: white;
  &.primary {
    background-color: var(--color-green);
  }
  &.secondary {
    background-color: var(--color-grey);
  }
  &.error {
    background-color: var(--color-red);
  }
}

.outlined {
  border-width: 1px;
  border-style: solid;
  &.primary {
    border-color: var(--color-green);
  }
  &.secondary {
    border-color: var(--color-grey);
  }
  &.error {
    border-color: var(--color-red);
  }
}

.text {
  &.primary {
    color: var(--color-green);
  }
  &.secondary {
    color: var(--color-grey);
  }
  &.error {
    color: var(--color-red);
  }
}

.small {
  padding: 4px 8px;
}

.large {
  padding: 10px 16px;
}
