.root {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.root.vertical {
  flex-direction: column;
  margin-right: 0;
  .item:not(:first-child) {
    margin-top: 8px;
  }
}

.item {
  padding: 8px 16px;
  cursor: pointer;
  background-color: rgb(226, 225, 225);
  border-radius: 8px;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &.active {
    background-color: var(--color-dark);
    color: #fff;
  }
  &.disabled {
    opacity: 0.6;
  }
}
